body{
    background-color: #4D1F51;
color: aliceblue;
}

.ball {
    width: 250px;
    margin: 25px;
}

.font {
    font-family: 'Rasa', serif;
}

button {
    padding: 10px 50px 10px 50px;
    background-color: #A382A6;
    color: aliceblue;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin: 25px;
}

/* page one*/

.page-one {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
}

#inputName {
    background-color: #251026;
    border: none;
    color: #F0F0F0;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    height: 30px;
}

/* page one*/
/* page two*/
.page-two {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personPhoto {
    width: 40%;
   min-height: 500px;
    border: #A382A6 solid 35px;
    border-radius: 10px;
}

.bottom-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-ball {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2 {
    
}

/* page two*/